<ion-view view-title="History">
  <ion-content>
    <div ng-repeat="(i, item) in history">
      <h2>{{dates[i] | date}}</h2>
      <div ng-repeat="workout in item[dates[i]]">
        <div class="row">
          <div class="col">
            <h4>{{workout.name}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">Target Weight</div>
          <div class="col">Actual Weight</div>
        </div>
        <div class="row">
          <div class="col">{{workout.target_weight}}lb</div>
          <div class="col">{{workout.actual_weight}}lb</div>
        </div>
        <div ng-repeat="(num, setData) in workout.sets">
          <div class="row">
            <div class="col">
              <h5>Set {{num}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col">Target Reps</div>
            <div class="col">Actual Reps</div>
          </div>
          <div class="row">
            <div class="col">{{setData.target_reps}}</div>
            <div class="col">{{setData.actual_reps}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>