<ion-view class="home-view" view-title="Home">
  <ion-content class='has-footer'>

  <div class="card">
    <div class="item item-text-wrap">
      <div class='masa-header'>
        <h2>Make America Swole</h2>
        <h2><i class= "ion-ios-star"></i> Again <i class= "ion-ios-star"></i></h2>
      </div>
    </div>
  </div>

    <blockquote class='quote'>
      <h3>I have never seen a thin person drinking Diet Coke.”</h3>
      <h5>- Donald J. Trump</h5>
    </blockquote>

    <div class="card">
      <div class="item item-divider"><strong>My Goals For Today:</strong></div>
        <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="item in goals" item="item" class="item-remove-animate" ng-click="toggleIcon($index)">
                  <i class={{item.icon}} ></i>
                  {{ item.goal }}
              <ion-option-button class="button-assertive" ng-click="onItemDelete(item)">
                Delete
              </ion-option-button>
            </ion-item>
        </ion-list>
    </div>

    <!-- Goal Modal -->
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Goal</h1>
          <button class="button button-clear button-primary" ng-click="closeModal()"><i class="ion-ios-close"></i></button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Input Goal:</span>
              <input ng-model="userInput" type="text" maxlength="20">
            </label>
            <button class="button button-full button-positive" ng-click="createGoal(userInput); userInput = null">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>

  <ion-footer-bar class="bar-positive" ng-click="openModal()">
    <div class="title">Add Goals</div>
  </ion-footer-bar>

</ion-view>

