<ion-view view-title="Plan Your Workout">
  <ion-content class="im-wrapper">
    <h3 ng-model="day">{{day | date: 'mediumDate'}}</h3>
    <div class="list" ng-repeat="ex in exercises track by $index">
      <label class="item item-input item-select">
        <span class="input-label">Exercise</span>
        <select ng-model="ex.name">
          <option value="">Select exercise</option>
          <option ng-repeat="lift in liftList" value="{{lift.name}}">
            {{lift.name}}
          </option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Target Weight</span>
        <input
          type="tel"
          class="weight-input"
          ng-model="ex.target_weight"
          placeholder="0"
          ng-change="logInputVal()"
        >
      </label>
      <label class="item item-input">
        <span class="input-label">Actual Weight</span>
        <input
          type="tel"
          class="weight-input"
          ng-model="ex.actual_weight"
          placeholder="0"
          ng-disabled="day > today"
        >
      </label>

      <fieldset class="target-reps">
        <div class="row">
          <div class="col">
            <label class="item item-input">
              <span class="label-input">Target Reps for each Set</span>
            </label>
          </div>
        </div>
        <div class="row rep-top-row">
          <div class="col-33" ng-repeat="i in [1, 2, 3]">
            <input
              type="tel"
              class="button button-fab button-positive rep-btn"
              ng-model="ex.sets[i].target_reps"
              placeholder="0"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-33" ng-repeat="i in [4, 5, 6]">
            <input
              type="tel"
              class="button button-fab button-positive rep-btn"
              ng-model="ex.sets[i].target_reps"
              placeholder="0"
            >
          </div>
        </div>
      </fieldset>

      <br>

      <fieldset class="actual-reps">
        <div class="row">
          <div class="col">
            <label class="item item-input">
              <span class="label-input">Actual Reps for each Set</span>
            </label>
          </div>
        </div>
        <div class="row rep-top-row">
          <div class="col-33" ng-repeat="i in [1, 2, 3]">
            <input
              type="tel"
              class="button button-fab button-positive rep-btn"
              ng-model="ex.sets[i].actual_reps"
              placeholder="0"
              ng-disabled="day > today"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-33" ng-repeat="i in [4, 5, 6]">
            <input
              type="tel"
              class="button button-fab button-positive rep-btn"
              ng-model="ex.sets[i].actual_reps"
              placeholder="0"
              ng-disabled="day > today"
            >
          </div>
        </div>
      </fieldset>
    </div>
    <button class="addfields button button-block" ng-click="addNewLift()">
      Add Exercise
    </button>
    <button
      class="addfields button button-positive button-block"
      ng-click="logWorkout()"
    >
      Save Workout
    </button>
  </ion-content>
</ion-view>
