<ion-view view-title="Plan Your Workout">
  <ion-content class="im-wrapper">
    <h3 ng-model="day">{{day | date: 'mediumDate'}}</h3>
    <div class="exerciseForm" ng-repeat="ex in exercises track by $index">
      <label class="item item-input item-stacked-label">Exercise
        <select ng-model="ex.name">
          <option ng-repeat="lift in liftList" value="{{lift.name}}">{{lift.name}}</option>
        </select>
      </label>
      <br>
      <br>
      <label class="item item-input item-label">Target Weight</label>
        <input type="tel" class="button button-medium" ng-model="ex.target_weight" placeholder="0"></input>
      <br>
      <label class="item item-input item-label">Actual Weight</label>
        <input type="tel" class="button button-medium" ng-model="ex.actual_weight" placeholder="0"></input>
      <br>
      <br>

      <fieldset  style="margin-bottom: 20px">
        <h3>Target Reps for each Set</h4>
        <label ng-repeat="i in [1, 2, 3, 4, 5, 6]">Set {{i}}
        <input type="tel" style="margin-right: 40px; display: inline; color: white" class="button button-fab button-positive repsButtons" ng-model="ex.sets[i].target_reps" placeholder="0"></input></label>
      </fieldset>
        
      <fieldset  style="margin-bottom: 80px">
        <h3>Actual Reps for each Set</h4>
        <label ng-repeat="j in [1, 2, 3, 4, 5, 6]">Set {{j}}
        <input type="tel" style="margin-right: 40px; display: inline; color: white"  class="button button-fab button-positive repsButtons" ng-model="ex.sets[j].actual_reps" placeholder="0"></input></label>
      </fieldset>
    </div>
    <button class="addfields button button-block" ng-click="addNewLift()">Add Exercise</button>
    <button class="addfields button button-positive button-block" ng-click="logWorkout()">Save Workout</button>
  </ion-content>
</ion-view>