/* Empty. Add your own CSS if you like */
.calendar {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.button-medium {
  text-align: center;
  margin: 0 auto;
}

/*#calendarInstruct {
  text-align: center;
}*/